.button{
    border: 0;
    width: 21rem;
    height: 3rem;
    top: 1.25rem;
    left: 1.25rem;
    border-radius: 4.625rem;
    cursor: pointer;
    text-align: center;
    font: var(--bodyHeavy);
    text-align: center;
    
    
}


.button.buttonPrimary{
    background-color:var(--primary);
    color: var(--white);
    
    
}

.button.buttonGray{
    background-color:var(--gray);
    color: var(--white);
}

.button.buttonWhite{
    background-color:var(--white);
    color:var(--primary);
}

.button.buttonGray2{
    background-color:var(--gray2);
    color:var(--primary);
}