<button class="button buttonPrimary button--block">
  Comprar como invitado
</button>
<button class="button buttonType--outline buttonWhite button--block">
  Favoritos
</button>
<button class="button buttonType--outline buttonGray2 button--block">
  PAYPAL
</button>
<button class="button buttonGray button--block">
  Agregar a la bolsa de compra
</button>

<!-- Radio button -->

<div class="d-flex align-items-center" style="gap: 0.5rem;">
  <div class="radio">
    <input disabled type="checkbox" name="tallas" id="talla29">
    <label for="talla29">CM 29</label>
  </div>
  <div class="radio">
    <input type="checkbox" name="tallas" id="talla28">
    <label for="talla28">CM 28</label>
  </div>
  <div class="radio">
    <input type="checkbox" name="tallas" id="talla27">
    <label for="talla27">CM 27</label>
  </div>
</div>

<div clas="cards">
    <div class="card-a">
        <img src="../assets/img/img-9.png" alt="">
    </div>
    <div class="card-a-body">
        <p class="card-a-description">Nike Air Force 1 High '07</p>
        <p class="card-a-description2">Calzado para hombre</p>
        <p class="card-a-description">$2899</p>
    </div>
    

</div>

<div clas="container">
    <div class="card-b">
        <img src="../assets/img/img-1.png" >
    </div>
    <div class="card-b2">
        <img src="../assets/img/img-6.png" >
    </div>
    <div class="card-b">
        <img src="../assets/img/img-2.png">
    </div>
    <div class="card-b4">
        <img src="../assets/img/img-3.png">
    </div>
    
</div>


<div clas="cards-c">
    <div class="card-c">
        <img src="../assets/img/img-4.png">
    </div>
    <div class="card-c1">
        <img src="../assets/img/img-5.png">
    </div>

</div>



<div clas="container2">
    <div class="card-d">
        <img src="../assets/img/img-9.png">
    </div>
    <div class="card-d2">
        <img src="../assets/img/img-8.png">
    </div>
    <div class="card-d">
        <img src="../assets/img/img-10.png">
    </div>
    <div class="card-d2">
        <img src="../assets/img/img-7.png">
    </div>

</div>


