<button class="button buttonPrimary button--block">
  Comprar como invitado
</button>
<button class="button buttonType--outline buttonWhite button--block">
  Favoritos
</button>
<button class="button buttonType--outline buttonGray2 button--block">
  PAYPAL
</button>
<button class="button buttonGray button--block">
  Agregar a la bolsa de compra
</button>

<!-- Radio button -->

<div class="d-flex align-items-center" style="gap: 0.5rem;">
  <div class="radio">
    <input disabled type="radio" name="tallas" id="talla29">
    <label for="talla29">CM 29</label>
  </div>
  <div class="radio">
    <input type="radio" name="tallas" id="talla28">
    <label for="talla28">CM 28</label>
  </div>
  <div class="radio">
    <input type="radio" name="tallas" id="talla27">
    <label for="talla27">CM 27</label>
  </div>
</div>